/*
* CSS for the page footer
*
* Credit for this goes to
*  http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
*/
* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}

.footer, .push {
height: 4em;
}

/*
* Force the scrollbar to appear in OSx 
*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*
* Make button text wrap around (mainly for project titles)
*/
.btn {
    white-space: normal;
}

/*
* Cursomize Button Colors
*/
.navbar-inverse .navbar-brand {
    color: #ffcc00;
}

.btn-warning {
    color: #333;
    background-color: #ffcc00;
    border-color: #bf0000;
}

.btn-danger {
    background-color: #bf0000;
}

.navbar-inverse .btn-link {
    color: #ffcc00;
}

.navbar-inverse .btn-link:focus, .navbar-inverse .btn-link:hover {
    color: #333;
}

.container-fluid {
    max-width: 960px;
}

div#promoteUser{
    padding-top:10px;
}

/* Remove unnecessary padding at bottom of table entry */
.table {
    margin-bottom:0px;
}

/* Even out the padding on the table headers */
.panel-body {
    padding-top:2px;
}

/* Shrink the panel heading */
.panel-heading {
    padding: 5px 10px;
}