/*
* CSS for the page footer
*
* Credit for this goes to
*  http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
*/
* {
margin: 0;
}

html, body {
height: 100%;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto;
}

.footer, .push {
height: 4em;
}

/*
* Force the scrollbar to appear in OSx 
*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*
* Make button text wrap around (mainly for project titles)
*/
.btn {
    white-space: normal;
}