# Hide .php extension from users
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteRule ^signin/?$ login.php [NC]
RewriteRule ^register/?$ newUser.php [NC]
RewriteRule ^user/?$ viewProfile.php [NC]
RewriteRule ^user/edit/?$ updateProfile.php [NC]

RewriteRule ^project/all/?$ showAllProjects.php [NC]
RewriteRule ^project/all/time/?$ showAllProjects.php?order=time [NC]
RewriteRule ^project/all/title/?$ showAllProjects.php?order=title [NC]

RewriteRule ^project/?$ viewProject.php [NC]
RewriteRule ^project/new/?$ newProject.php [NC]
RewriteRule ^project/edit/?$ updateProject.php [NC]

RewriteRule ^admin/?$ adminInterface.php [NC]

# Allow adminInterface.php to only be accessed by the College of Wooster's network
<Files "adminInterface|dbToCSV|promoteUser|resetDatabase\.php">
    Require all denied
    # Allow localhost for testing
    Require ip 127.0.0.1
    
    # Allow Wooster IPs
    Require ip 140.103
</Files>