Options -Indexes

# Hide .php extension from users
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteRule ^signin/?$ login.php [NC]
RewriteRule ^register/?$ newUser.php [NC]
RewriteRule ^user/?(\d+)?/?$ viewProfile.php?user_id=$1 [NC]
RewriteRule ^user/(\d+)/edit/?$ updateProfile.php?user_id=$1 [NC]
RewriteRule ^signin/forgotpassword/?$ forgotPassword.php [NC]
RewriteRule ^user/favorites/?$ viewFavorites.php [NC]

RewriteRule ^project/all/?$ showAllProjects.php [NC]
RewriteRule ^project/all/time/?$ showAllProjects.php?order=time [NC]
RewriteRule ^project/all/title/?$ showAllProjects.php?order=title [NC]

RewriteRule ^project/search/?$ search.php [NC]

RewriteRule ^project/?(\d+)/?$ viewProject.php?project_id=$1 [NC]
RewriteRule ^project/new/?$ newProject.php [NC]
RewriteRule ^project/(\d+)/edit/?$ updateProject.php?project_id=$1 [NC]

RewriteRule ^admin/?$ adminInterface.php [NC]

# Set custom error pages
ErrorDocument 403 "/error/403.php"
ErrorDocument 404 "/error/404.php"
ErrorDocument 500 "/error/500.php"

# Allow adminInterface.php and newUser.php to only be accessed by the College of Wooster's network
<FilesMatch "adminInterface|register|dbToCSV|promoteUser|resetDatabase\.php">
    Require all denied
    # Allow localhost for testing
    Require ip 127.0.0.1
    
    # Allow Wooster IPs
    Require ip 140.103
</FilesMatch>